html {
    height: 100%;
}

body {
    background-color: rgba(208, 242, 240, 255);
    padding: 0px;
    margin: 0px;
    font-family: 'Lora', serif;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    background: #303036;
    height: 66px;
    position: fixed;
    width: 100%;
}

header * {
    color: white;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
    padding-top: 5px;
}

header .logo-text,
h2 {
    margin: 9px;
    font-family: 'Candal', serif;
}

header .logo-text span {
    color: #75f3ef;
}

header .logo-text span1 {
    color: white;
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

header ul li a:hover {
    background: #8c8c8c;
    transition: 0.5s;
}

header .menu-toggle {
    display: none;
}

.logo-image {
    width: 46px;
    height: 46px;
    overflow: hidden;
    margin-top: -6px;
    border: 2px solid red;
}


/*CONTENT*/

main {
    height: 3000px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.briefing {
    height: 800px;
    background: #3b918e;
    margin-top: 60px;
}

.briefing h2 {
    color: white;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.briefing p {
    color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.splash-image {
    width: 70%;
    display: block;
    margin-right: 500px;
}

.walking-image {
    width: 200%;
}

.image {
    width: 55%;
    margin-top: 200px;
    margin-left: 40%;
    display: flex;
}

.split {
    width: 50%;
    padding: 5px;
}

.row1 {
    display: flex;
    height: 600px;
}

.services {
    flex: 50%;
}

.services-title {
    text-align: center;
    padding-top: 30%;
}

.services-image {
    height: 50%px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.services-paragraph {
    text-align: center;
}

.row2 {
    display: flex;
    height: 600px;
}

.store {
    flex: 50%;
}

.store-title {
    text-align: center;
    padding-top: 30%;
}

.store-image {
    height: 50%px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.store-paragraph {
    text-align: center;
}

.row3 {
    display: flex;
    height: 600px;
}

.courses {
    flex: 50%;
}

.courses-title {
    text-align: center;
    padding-top: 30%;
}

.courses-image {
    height: 50%px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.courses-paragraph {
    text-align: center;
}


/*FOOTER*/

.footer {
    margin-top: auto;
    background: #303036;
    color: #d3d3d3;
    height: 450px;
    position: relative;
}

.footer .footer-content {
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
}

.footer .footer-content h1,
.footer .footer-content h2 {
    color: white;
}

.footer .footer-content .about h1 span {
    color: #05f7ff;
}

.footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .doggo .socials {
    display: flex;
    list-style-type: none;
}

.footer .footer-content .doggo .socials a {
    border: 3px solid gray;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 40px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.6em;
    transition: all .3s;
}

.footer .footer-content .doggo .socials a:hover {
    border: 1px solid grey;
    color: white;
    transition: all .3s;
}

input[type=text],
select,
textarea,
input {
    background: #272727;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
    border: none;
    color: #bebdbd;
    margin-top: 10px;
    resize: vertical;
    font-size: 20px;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.logo img {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 400px) and (max-width: 516px) {
    body {
        background-image: url(images/bg.jpg);
    }
    header {
        padding: .35em;
        width: 100%;
    }
    header ul {
        width: 100%;
        height: 50px;
        background: rgb(70, 64, 64);
        padding-left: 6px;
    }
    header ul li {
        display: inline-block;
        list-style: none;
        line-height: 0px;
    }
    header ul li a {
        display: block;
        padding-top: 22px;
        padding-bottom: 28px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1.1em;
        text-decoration: none;
    }
    .briefing p {
        font-size: 20px;
    }
    .footer {
        height: auto;
    }
    .footer .footer-content {
        height: auto;
        flex-direction: column;
    }
    .footer .footer-content .contact-form {
        padding-bottom: 90px;
    }
    .footer .footer-content .contact-form .contact-btn {
        width: 100%;
    }
    .intro {
        width: 90%;
        height: 30%;
        margin: 30px auto 30px;
        margin-top: 80px;
    }
    .services-image,
    .courses-image,
    .store-image {
        width: 70%;
    }
    main {
        height: 2700px;
    }
}

@media only screen and (min-width: 517px) and (max-width: 600px) {
    body {
        background-image: url(images/bg.jpg);
    }
    header {
        padding: .35em;
        width: 100%;
    }
    header ul {
        width: 100%;
        height: 50px;
        background: rgb(70, 64, 64);
        padding-left: 6px;
    }
    header ul li {
        display: inline-block;
        list-style: none;
        line-height: 0px;
    }
    header ul li a {
        display: block;
        padding-top: 22px;
        padding-bottom: 28px;
        padding-left: 37px;
        padding-right: 37px;
        font-size: 1.1em;
        text-decoration: none;
    }
    .footer {
        height: auto;
    }
    .footer .footer-content {
        height: auto;
        flex-direction: column;
    }
    .footer .footer-content .contact-form {
        padding-bottom: 90px;
    }
    .footer .footer-content .contact-form .contact-btn {
        width: 100%;
    }
    .intro {
        width: 90%;
        height: 30%;
        margin: 30px auto 30px;
        margin-top: 80px;
    }
    .services-image,
    .courses-image,
    .store-image {
        width: 70%;
    }
    main {
        height: 2700px;
    }
}

@media only screen and (min-width: 1025px) {
    body {
        background-image: url(images/bg.jpg);
    }
    .intro {
        float: left;
        width: 35%;
        margin-top: 120px;
        margin-left: 100px;
    }
    header ul li a {
        display: block;
        padding: 22px;
        font-size: 1.1em;
        text-decoration: none;
    }
}
