html{
  height: 100%;
}

body {
  background-color: rgba(208,242,240,255);
  padding: 0px;
  margin: 0px;
  font-family: 'Lora', serif;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
}

header {
  background: #707070;
  height: 66px;
  position: fixed;
  width: 100%;
  z-index:300;
}

header * {
  color: white;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
  padding-top: 5px;
}

header .logo-text, h2 {
  margin: 9px;
  font-family: 'Candal', serif;
}

header .logo-text span {
  color: #ffd500;
}

header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

header ul li {
  float: left;
  position: relative;
}

header ul li a {
  display: block;
  padding: 22px;
  font-size: 1.1em;
  text-decoration: none;
}

header ul li a:hover {
  background: rgb(206, 31, 31);
  transition: 0.5s;
}

header .menu-toggle {
  display: none;
}

main {
  height: 1500px;
  padding-top: 80px;
}

/*SLIDERS*/
.post-slider {
  position: relative;
}

.post-slider .slider-title {
  text-align: center;
  margin: 30px auto;
}
.post-slider .next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}

.post-slider .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}
.post-slider .post-wrapper {
  width: 84%;
  height: 350px;
  margin: 0px auto;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
  width: 300px;
  height: 350px;
  margin: 0px 10px;
  display: inline-block;
  background: ghostwhite;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}
.post-slider .post-wrapper .post .post-info {
  height: 130px;
  padding: 0px 5px;
}

.post-slider .post-wrapper .post .slider-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/*END OF SLIDER*/

/*CONTENT*/
.content {
  height: 500px;
  margin-top: 50px;
}

.content .missing {
  height: 500px;
  margin-left: 70px;
  margin-right: 50px;
}

.content .missing .notice {
  display: inline-block;
  background: white;
  width: 250px;
  height:300px;
  margin: 0px 10px;
  margin-bottom: 20px;
}

.content .missing .notice .notice-image{
  width: 100%;
  height: 200px;
}
/*END OF CONTENT*/

.footer {
  background: #303036;
  color: #d3d3d3;
  height: 400px;
  position: relative;
}

.footer .footer-content {
  height: 350px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

.footer .footer-content h1,
.footer .footer-content h2 {
  color: white;
}

.footer .footer-content .about h1 span {
  color: #05f7ff;
}

.footer .footer-content .about .contact span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.footer .footer-content .doggo .socials{
  display: flex;
list-style-type: none;
}

.footer .footer-content .doggo .socials a {
  border: 3px solid gray;
  border-radius: 50%;
  color: white;
  width: 50px;
  height: 40px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.6em;
  transition: all .3s;
}

.footer .footer-content .doggo .socials a:hover {
  border: 1px solid grey;
  color: white;
  transition: all .3s;
}
input[type=text], select, textarea, input {
  background: #272727;
  width: 100%;
  padding: 2px;
  border-radius: 5px;
  border: none;
  color:#bebdbd;
  margin-top: 10px;
  resize: vertical;
  font-size: 20px;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

h1 {
  font-family: 'Candal', serif;
  color: #5c5b5b;
  margin: 5px;
}


.logo img{
  position:absolute;
  margin-top: 15px;
  margin-left: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}